
<h2 class="appTitle">Calendar</h2>

<div>
    <div>
        <form class="form-group" formGroup="formG">
            <div class="form-group">
                <label for="formatSel">Selecciona el formato de entrada:  </label>
                <select class="form-control" #formatSel (change)="selectFormatI(formatSel.value)">
                    <option *ngFor="let item of comboFormats" [value]="item" >{{ item }}</option>
                </select>
            </div>
        </form>
        <app-calendar [formatInput]="formatInputDate"></app-calendar>
    </div>
</div>
