
<div class="calendar">
  <div class="dateInput">
    <label class="dateInput dateInput_label">Fecha</label>
    <div class="dateInput dateInput_input">
        <input *ngFor = "let input of formatDate;" 
          id="{{input.name}}"
          aria-required="true"
          placeholder="{{input.placeholder}}" 
          class="{{input.name}} {{invalid}}"
          required="{{input.required}}" 
          readonly="{{input.readonly}}"
          tabindex="{{input.tabIndex}}"
          type="{{input.type}}"
          (keyup)="searchDate($event)"
          (focus)="focusDisplay($event)"
        />
    </div>
  </div>
  <div class="picker--display">
    <div>
      <p class="picker_title" *ngIf="pickYear">Selecciona el año</p>
      <p class="picker_title" *ngIf="pickMonth">Selecciona el mes</p>
      <p class="picker_title" *ngIf="pickDay">Selecciona el día</p>
    </div>   
    <div *ngIf="pickDay">
      <ul class="picker_ul picker_ul--days">
        <li class="picker_il" *ngFor="let item of dayNameList;">{{ item }}</li>
      </ul>
    </div>
    <div class="picker--display picker_list" *ngIf="pickYear">
      <ul class="picker--display picker_ul">
        <li class="picker_il picker_il--wy" *ngFor="let item of yearList;" (click)="selectItem(item, 'y')"><span [ngClass]="{'picker_il--selected': item === selectYear }">{{ item }}</span></li>
      </ul>
    </div>
    <div class="picker--display picker_list" *ngIf="pickMonth">
      <ul class="picker--display picker_ul">
        <li class="picker_il picker_il--wm" *ngFor="let item of monthList;" (click)="selectItem(item.id, 'm')"><span [ngClass]="{'picker_il--selected': item.id === selectMonth }">{{ item.name }}</span></li>
      </ul>
    </div>
    <div class="picker--display picker_list" *ngIf="pickDay">
      <ul class="picker--display picker_ul">
        <li class="picker_il picker_il--d" *ngFor="let item of dayListEmpty;"></li>
        <li class="picker_il picker_il--d"  *ngFor="let item of dayList;" (click)="selectItem(item, 'd')">
          <span [ngClass]="{'picker_il--selected': item === selectDay }">{{ item }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

