@import '../../styles'

input 
    border: none
    width: auto
    padding: 5px
    outline: none
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

.separator
    width: 5px
    text-align: center
    outline: none
.year,
.month,
.day
    width: 25.333%

.year
    text-align: right
    font-size: $f16

.month
    text-align: center
    font-size: $f16

.day
    text-align: left
    font-size: $f16

.error-input
    border: 1px solid $red