
<div class="calendar">
  <div class="dateInput">
    <label class="dateInput dateInput_label">Fecha</label>
    <div class="dateInput dateInput_input">
      <input *ngFor = "let input of formatDate;" 
        id="{{input.name}}" 
        placeholder="{{input.placeholder}}" 
        class="{{input.name}}" required="{{input.required}}" 
        readonly="{{input.readonly}}"
        tabindex="{{input.tabIndex}}"
        (keypress)="searchDate($event)"
        (focus)="focusDisplay($event)"
      />
    </div>
  </div>
  <div class="picker--display">
    <div>
      <p class="picker_title" *ngIf="pickYear">Selecciona el año</p>
      <p class="picker_title" *ngIf="pickMonth">Selecciona el mes</p>
      <p class="picker_title" *ngIf="pickDay">Selecciona el día</p>
    </div>   
    <div *ngIf="pickDay">
      <ul class="picker--display picker_ul">
        <li class="picker_il" *ngFor="let item of dayNameList;">{{ item }}</li>
      </ul>
    </div>
    <div class="picker--display picker_list">
      <ul class="picker--display picker_ul">
        <li class="picker_il" *ngFor="let item of pickList;">{{ item }}</li>
      </ul> 
    </div>
  </div>
</div>
<p>{{ inputDate }}</p>
