
.calendar
    font-family: $text-font
    display: block
    align-items: left
    overflow-x: hidden
    margin: 0 auto
    width: 20em
    padding: 10%

.picker
    width: 40%
    display: none

.picker--display
    width: 40%
    position: relative
    display: inline

.picker_title
    font-size: $f12
    text-align: center
    align-items: center

.picker_list
    align-items: center
    width: 100%

.picker_ul
    height: 50%
    width: 100%
    font-size: $f14
    text-align: left
    list-style-type: none
    display: flex
    padding-left: 0em
    white-space: pre
    overflow-wrap: none

.picker_il
    padding-right: 0.8em
    
.dateInput
    width: 100%
    position: relative

.dateInput_label
    width: 100%
    padding: 2%
    margin-bottom: 2em
    text-align: left
.dateInput_input
    padding: 2%
    margin-top: 1em
    margin-bottom: 1em


