
.calendar
    font-family: $text-font
    display: block
    justify-content: center
    align-items: center
    overflow-x: hidden
    margin: 0 auto
    text-align: center
    width: 100%

.picker
    width: 40%
    display: none

.picker--display
    width: 40%
    position: relative
    display: inline

.picker_title
    font-size: $f12

.picker_list
    font-size: $f14
    align-items: center

.picker_ul
    text-align: left

.dateInput
    width: 20%
    position: relative

.dateInput_input
    padding: 2%


